TSDW/Servlet_Springboot/Servlet (Esercizi)/CalcolatriceClient/web/WEB-INF/wsdl/localhost_8080/CalcolatriceApp/CalcolatriceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calcolatrice.tsdw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calcolatrice.tsdw/" name="CalcolatriceService">
<types>
<xsd:schema>
<xsd:import namespace="http://calcolatrice.tsdw/" schemaLocation="http://localhost:8080/CalcolatriceApp/CalcolatriceService?xsd=1"/>
</xsd:schema>
</types>
<message name="Prodotto">
<part name="parameters" element="tns:Prodotto"/>
</message>
<message name="ProdottoResponse">
<part name="parameters" element="tns:ProdottoResponse"/>
</message>
<message name="Somma">
<part name="parameters" element="tns:Somma"/>
</message>
<message name="SommaResponse">
<part name="parameters" element="tns:SommaResponse"/>
</message>
<message name="Potenza">
<part name="parameters" element="tns:Potenza"/>
</message>
<message name="PotenzaResponse">
<part name="parameters" element="tns:PotenzaResponse"/>
</message>
<message name="Divisione">
<part name="parameters" element="tns:Divisione"/>
</message>
<message name="DivisioneResponse">
<part name="parameters" element="tns:DivisioneResponse"/>
</message>
<message name="Differenza">
<part name="parameters" element="tns:Differenza"/>
</message>
<message name="DifferenzaResponse">
<part name="parameters" element="tns:DifferenzaResponse"/>
</message>
<portType name="CalcolatriceService">
<operation name="Prodotto">
<input wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/ProdottoRequest" message="tns:Prodotto"/>
<output wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/ProdottoResponse" message="tns:ProdottoResponse"/>
</operation>
<operation name="Somma">
<input wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/SommaRequest" message="tns:Somma"/>
<output wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/SommaResponse" message="tns:SommaResponse"/>
</operation>
<operation name="Potenza">
<input wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/PotenzaRequest" message="tns:Potenza"/>
<output wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/PotenzaResponse" message="tns:PotenzaResponse"/>
</operation>
<operation name="Divisione">
<input wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/DivisioneRequest" message="tns:Divisione"/>
<output wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/DivisioneResponse" message="tns:DivisioneResponse"/>
</operation>
<operation name="Differenza">
<input wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/DifferenzaRequest" message="tns:Differenza"/>
<output wsam:Action="http://calcolatrice.tsdw/CalcolatriceService/DifferenzaResponse" message="tns:DifferenzaResponse"/>
</operation>
</portType>
<binding name="CalcolatriceServicePortBinding" type="tns:CalcolatriceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Prodotto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Somma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Potenza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Divisione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Differenza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcolatriceService">
<port name="CalcolatriceServicePort" binding="tns:CalcolatriceServicePortBinding">
<soap:address location="http://localhost:8080/CalcolatriceApp/CalcolatriceService"/>
</port>
</service>
</definitions>